#main-navbar {
    background-color: rgb(33, 37, 41);
    color: white;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title {
    font-size: 4em;
    padding: 0px 0px 0px 30px;
    margin: 0px;
}

#navbar-link-list {
    height: 50%;
    display: flex;
    list-style: none;
    padding: 0px 0px;
    margin: 0px 20px 0px 0px;
    align-items: center;
}

#navbar-link-list > li {
    padding: 10px 10px;
    font-size: 1.3em;
}

:any-link {
    text-decoration: none;
    color: darkgray;
}
a:hover {
    color: white;
}