body{
  background-color: rgb(33, 37, 41);
}

.App {
  text-align: left;
}

#main-page-container {
  background-color: blueviolet;
}

.hero-section {
  background-color: rgb(32, 32, 32);
  height: 600px;
}

#main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(33, 37, 41);
  color: white;
  min-height: 150px;
  text-align: center;
}